<form name="form1" action="/controllerUpdate" method="post">

    <input type="hidden" name="id" id="id" placeholder="Id:" value="{{id}}"><br>
    <input type="text" name="name" id="name" placeholder="Name:" value="{{name}}"><br>
    <input type="text" name="description" id="description" placeholder="Description:" value="{{description}}"><br>
    <input type="text" name="start_date" id="start_date" placeholder="Start_date:" value="{{start_date}}"><br>
    <input type="text" name="end_date" id="end_date" placeholder="End_date:" value="{{end_date}}"><br>
    <input type="text" name="priority" id="priority" placeholder="Priority:" value="{{priority}}"><br>

    <input type="submit" name="btnSubmit" id="btnSubmit" value="Alterar"><br>
</form>